
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

.vscode
.env
supabase_game_history.sql
supabase_assignments.sql
supabase_games.sql
supabase_profiles.sql
.agents
